@use "variables" as *;

footer {
  background-color: $darkGrey;
  color: $white;
  height: 3rem;
  font-size: 0.83rem;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 0.85rem;
    padding: 0;
  }
}
